:root {
	color: rgb(255 255 255 / 87%);
	font-weight: 400;
	font-size: 16px;
	font-family: 'Inter', 'Avenir', 'Helvetica', 'Arial', sans-serif;
	line-height: 1.5;
	background-color: #242424;
	color-scheme: light dark;
	font-synthesis: none;
	text-rendering: optimizelegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-size-adjust: 100%;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 320px;
	min-height: 100vh;
	margin: 0;
}

p, h1 {
	margin: 0;
}

.app {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.app__header {
	font-size: 3.2em;
	line-height: 1.1;
}

.app__controls {
	display: flex;
	gap: 20px;
}

.app__status-label {
	font-weight: 800;
	font-size: 1em;
}

.app__status {
	font-weight: bold;
}

.app__status--online {
	color: forestgreen;
}

.app__status--offline {
	color: crimson;
}

.app__button {
	padding: 0.6em 1.2em;
	font-weight: 500;
	font-size: 1em;
	font-family: inherit;
	border: 2px solid transparent;
	border-radius: 8px;
	cursor: pointer;
	transition: border-color 0.25s;
}

.app__button:hover {
	border-color: #646cff;
}

.app__button:focus,
.app__button:focus-visible {
outline: 4px auto -webkit-focus-ring-color;
}

.app__button--connect {
	background-color: rgb(56, 114, 75);
}

.app__button--disconnect {
	background-color: rgb(138, 72, 69);
}

.app__button:disabled {
	background-color: #bbbaba;
}

.live-table {
	width: 400px;
	table-layout: fixed;
	border-radius: 10px;
	border-style: hidden;
	box-shadow: 0 0 0 2px burlywood;
}

.live-table {
	border-collapse: collapse;
}

.live-table__cell {
	padding: 5px;
	border: 2px solid burlywood;
}

.live-table__cell--first-column {
	width: 10%;
	text-align: center;
}


@media (prefers-color-scheme: light) {
	:root {
			color: #213547;
			background-color: #ffffff;
	}

	.app__button--connect {
		background-color: rgb(171, 235, 193);
	}

	.app__button--disconnect {
		background-color: rgb(232, 166, 163);
	}

	.app__button:disabled {
		background-color: #bbbaba63;
	}

	.live-table {
		box-shadow: 0 0 0 2px #72a1be;
	}

	.live-table__cell {
		border-color: #72a1be;
	}
}